/* navbar.module.css */

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.navLinks {
  position: absolute;
  top: -300px;
  z-index: 9999;
  right: 0;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  heigth: 100%;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLinks.open {
  top: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
