/* navbar.module.css */

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.navLinks {
  position: absolute;
  top: 100%;
  z-index: 9999;
  right: -250px;
  background-color: red;
  padding: 20px;
  width: 250px;
  heigth: 100%;
  transition: right 0.3s ease-in-out;
}

.navLinks.open {
  right: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
